<div id="share">
<div class="col-md-12">
<h4>SHARE THE WORD!</h4>
    <a class="icon-facebook" rel="nofollow"
    href="http://www.facebook.com/"
    onclick="popUp=window.open(
      'http://www.facebook.com/sharer.php?u=<%="#{request.original_url}"%>',
      'popupwindow',
      'scrollbars=yes,width=800,height=400');
    popUp.focus();
    return false">
    <i class="fa fa-facebook fa-lg face"></i>
  </a>


  <a class="icon-twitter" rel="nofollow"
  href="http://twitter.com/"
  onclick="popUp=window.open(
    'http://twitter.com/intent/tweet?text=\'<%= @experience.title %>\' via Adios Quincena - <%="#{request.original_url}"%>',
    'popupwindow',
    'scrollbars=yes,width=800,height=400');
  popUp.focus();
  return false">
  <i class="fa fa-twitter fa-lg twitter"></i>
</a>


<!--  -->


<a class="icon-gplus" rel="nofollow"
href="http://www.plus.google.com/"
onclick="popUp=window.open(
  'https://plus.google.com/share?url=<%="#{request.original_url}"%>',
  'popupwindow',
  'scrollbars=yes,width=800,height=400');
popUp.focus();
return false">
<i class="fa fa-google-plus fa-lg you"></i>
</a>

</div>
</div>