<div id="titulos">
<%= image_tag src="logo.png" %> <br><br>
	<h2>Conoce el mundo a <strong>través</strong> de los sentidos</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia ab veritatis dolorum aut minus et id perspiciatis, dolores inventore, ea, cum cupiditate autem ullam commodi, ut eligendi in culpa repellendus.</p>

			<ul>
				<li>
					<%= link_to "Camino nómada", root_path, class: "button button_red" %>
				</li>
				<li>
					<%= link_to "Hazte Nómada", root_path, class: "button button_blue" %>
				</li>
			</ul>

</div>


<%= render 'experiences/expes' %>
