<div id="titulos">
	<h2>Conoce el mundo a <strong>través</strong> de los sentidos</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia ab veritatis dolorum aut minus et id perspiciatis, dolores inventore, ea, cum cupiditate autem ullam commodi, ut eligendi in culpa repellendus.</p>
</div>


<%= render 'experiences/expes' %>
