/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";

@font-face{
font-family:"Gotham";
  src:asset-url("GothamHTF-Medium.otf") format("opentype");
font-family:"Gotham_thin";
  src:asset-url("GothamHTF-Thin.otf") format("opentype");
font-family:"Gotham_bold";
  src:asset-url("GothamHTF-Bold.otf") format("opentype");
}

$light_grey: #F9F9FA;
$grey: #f1f4f9;
$dark_grey: #3c3c3c;
$red: #FC5185;
$blue: #3FC1C9;

body {
margin-top: 80px;
-webkit-font-smoothing: antialiased;
background-color: #ffffff;
color: #515151;
}     

h1, h2, h3, h4, h5, h6 {
    
  color: #4d545d;
}

p, a {
  font-family: 'Gotham_thin', sans-serif !important;
  color: #919499;
}

  a {
    &:hover {
      text-decoration: none;
      background-color: transparent;
      color: $red;
    }
  }



/* -------------------------------- 

Main components 

-------------------------------- */
.cd-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.95);
  /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);*/
  z-index: 2;
}
.cd-header:after {
  content: "";
  display: table;
  clear: both;
}
.cd-header #cd-logo {
  float: left;
  margin: 13px 0 0 5%;
}
.cd-header #cd-logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  .cd-header {
    height: 70px;
  }
  .cd-header #cd-logo {
    margin: 23px 0 0 5%;
  }
}

.cd-main-nav {
  /*float: right;*/
  text-align: center;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background-image: image-url("cd-icon-menu.svg");
  background-repeat: no-repeat center center;
  background-size: 44px 44px;
  cursor: pointer;
}
.cd-main-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.cd-main-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.cd-main-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #fff;
  border-top: 1px solid #000;
  color: $dark_grey;
}
@media only screen and (min-width: 768px) {
  .cd-main-nav {
    width: auto;
    height: auto;
    background: none;
    cursor: auto;
  }
  .cd-main-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }
  .cd-main-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .cd-main-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  .cd-main-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
    color: #3d3536;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
  }
  .no-touch .cd-main-nav a:hover {
    color: #99a478;
  }
}




#mapCanvas {
 	margin-top: 5rem;
  width: 100%;
  height: 300px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.panel-heading.preview {
  text-align: center;
  padding: 0;
}

.panel-heading.preview img{  
  max-width: 100%;
  height: 200px;
  overflow: hidden;
}


#titulos {
  margin-top: 100px;
  text-align: center;
  padding: 0 10%;
  h2 {
    font-size: 48px;
    max-width: 100%;
  }
  p {
    font-size: 17px;
  }
  li {
    display: inline;
    margin: 0 5px 0 5px;
  }
}




.row-no-gutter {
  margin-right: 0;
  margin-left: 0;
}

.row-no-gutter [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}


#card {
  background: #fff;
  position: relative;
  margin-bottom: 50px;
  margin-top: 30px;

  -webkit-box-shadow: 0px 1px 10px 0px rgba(207,207,207,1);
  -moz-box-shadow: 0px 1px 10px 0px rgba(207,207,207,1);
  box-shadow: 0px 1px 10px 0px rgba(207,207,207,1);

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;  
}

#card2 {
  margin-top: 0;
}

.city-selected {
  position: relative;
  overflow: hidden;
  min-height: 200px;
  background: $blue;
}

article {
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 20px;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.info .city,
.night {
  font-size: 24px;
  font-weight: 200;
  position: relative;


  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.info .city:after {
  content: '';
  width: 15px;
  height: 2px;
  background: #fff;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.city span {
  color: #fff;
  font-size: 13px;
  font-weight: bold;

  text-transform: lowercase;
  text-align: left;
}

.night {
  font-size: 15px;
  text-transform: uppercase;
}

.icon {
  width: 84px;
  height: 84px;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;

  overflow: visible;

}


.temp {
  font-size: 40px;
  display: block;
  position: relative;
  font-weight: bold;
}

svg {
  color: #fff;
  fill: currentColor;
}


.wind svg {
  width: 18px;
  height: 18px;
  margin-top: 20px;
  margin-right: 10px;
  vertical-align: bottom;
}

.wind span {
  font-size: 13px;
  text-transform: uppercase;
}

.city-selected:hover figure {
  opacity: 0.5;
}


figure {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.1;
    z-index: 1;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*.days .row [class*="col-"]:nth-child(5) .day  {
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #eaeaea;
}

.days .row [class*="col-"]:nth-child(3) .day  {
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #eaeaea;
}

.days .row [class*="col-"]:nth-child(1) .day  {
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #eaeaea;
}*/

.days .row [class*="col-"] {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;  
}

.days .row [class*="col-"]:hover{
  background: #eaeaea;
}

.day {
  padding: 10px 0px;
  text-align: center;

}

.day h1 {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 10px;
  color: #b5b5b5;
  i {
    margin-top: 5px;
    color: #b5b5b5;

  }
}

.day svg {
  color: #000;
  width: 32px;
  height: 32px;
}


#formario {
  margin: 2rem 0;
  background-color: white;
  box-shadow: 0 2px 2px 0 $red, 0 3px 1px -2px$red, 0 1px 5px 0 $red;
  padding: 3rem 3rem 0;
      border-radius: 11px;
      border: solid 1px #e2e8ea;
      -webkit-box-shadow: 6px 6px 2px rgba(46,133,155,0.04);
      box-shadow: 6px 6px 2px rgba(46,133,155,0.04);

h2, h1 {
  text-align: center;
  color: white;
  width: 100%;
  font-size: 100%;
  font-weight: 900;
  text-transform: uppercase;
  background-color: $red;
  padding: 20px 0;
  a {
    color: white;
  }
}

input[type="date"],input[type="name"], input[type="email"], input[type="textbox"], input[type="number"], input[type="tel"], input[type="text"], input[type="password"], textarea, select {
  width: 100%;
  height: 3.5rem;
  border:none;
  border-bottom:1.3px solid #dadada;
  margin-bottom: 1.5rem;
  background-color: white !important;
  }
  textarea {
    height: 20rem !important;
  }
  label {
  margin-top: 1rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #dadada;
  font-family: 'Gotham_bold', sans-serif !important;
}
}


hr {
  border-width: 2.3px;
  max-width: 200px;
}
hr.light {
  border-color: white;
}

hr.lefty {
  border-color: $grey;
   border-width: 1.8px;
  max-width: 100px;
  margin-left: -.7rem;
}

hr.red {
  border-color: $red;
  max-width: 100% !important;
}

.blue {
  color: $blue
}

.red{
  color: $red;
}

.button {
  transition: background-color .25s linear;
  font-size: 16px;
  text-transform: uppercase;
  min-width: 150px;
  font-family: 'Gotham_bold', sans-serif !important;
  border-radius: 3px;
  padding: 5px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  margin-top: 1rem;
  background-color: transparent;
}

.button_red {
  color: $red;
  background-color: white;
  border: solid 2px $red;
  &:hover {
    color: white;
    background-color: $red;
  }

}

.button_red2 {
  color: white !important;
  background-color: $red;
  border: solid 2px white;
  &:hover {
    color: $red !important;
    background-color: white;
    border: solid 2px $red;
  }

}

.button_red3 {
  color: white !important;
  background-color: $red;
  border: solid 2px white;
  padding: 30px 0;
  &:hover {
    color: $red !important;
    background-color: white;
    border: solid 2px $red;
  }
}

.button_blue3 {
  color: white !important;
  background-color: $blue;
  border: solid 2px white;
  padding: 30px 0;
  &:hover {
    color: $blue !important;
    background-color: white;
    border: solid 2px $blue;
  }

}

.button_blue {
  color: $blue;
  background-color: white;
  border: solid 2px $blue;
  &:hover {
    color: white;
    background-color: $blue;
  }

}

.button_grey {
  color: $red;
  height: 50px;
  background-color: white;
  border: solid 1.5px $red;
  &:hover {
    color: white;
    background-color: $red;
  }

}

.button_block {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-top: 2rem;
  font-weight: 700;
}

.center {
  text-align: center;
}





#show {
.city-selected {
  position: relative;
  overflow: hidden;
  min-height: 250px;
  background: $blue;
}

article {
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 20px;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}





.temp {
  font-size: 40px;
  display: block;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Gotham_bold', sans-serif !important;

}



.wind span {
  font-size: 13px;
  text-transform: uppercase;
}

.city-selected:hover figure {
  opacity: 0.9;
}


figure {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.4;
    z-index: 1;
  img {
    width: 100%;
  }
}

}

#show_body {
  margin-top: 3rem;
  #background {
    padding: 5%;

  }
}

#sentidos {
  text-align: center;
  li {
    display: inline;
    float: left;
    width: 19%;
    margin: 0 0.5%;

    h1, i {
      color: #4d545d;
    }
  }
}

#icons {
  h6 {
    position: absolute;
    margin-top: -23px;
    margin-left: 35px;

  }
  span {
    font-size: 21px;
  }
}


.face {
    background-color: white;
    color: #3b5998;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 10px 12px;
    margin-right: .2rem;
    &:hover {
    opacity: .8;
    }
  }
    .twitter {
    background-color: white;
    color: #55acee;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 10px 12px;
    margin-right: .2rem;
    &:hover {
    opacity: .8;
    }
  }
    .insta {
    background-color: white;
    color: #e95950;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 10px 12px;
    margin-right: .2rem;
    &:hover {
    opacity: .8;
    }
  }
    .you {
    background-color: white;
    color: #bb0000;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 10px 12px;
    margin-right: .2rem;
    &:hover {
    opacity: .8;
    }
  }

#share {
  margin-top: 3rem;
}

#map2 {
  margin-top: 3rem;
  width: 100%;
  height: 250px;
}


#map3 {
  width: 100%;
  height: 85vh;
}

#showing {
  .imagen {
  height:200px;
  line-height:200px;
  overflow:hidden;
  text-align:center;
  width:200px;
    img {
      margin:-100%;

    }
  }
}

.upper {
  text-transform: uppercase;
}


#show_trip {
  text-align: center;
  margin-top: 5rem;
}


.subscribe_link {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      color: white;
      display: inline;
      background: $red;
      border-radius: 3px;
      padding: .5rem 1rem;
      margin: 0 .5rem;
      text-decoration: none;
      &:hover {
        background: darken($red, 10%);
        color: white;
      }
    }


#magic_card {
  background-color: white;
  padding: 10px 12px;
  border: solid 2px $grey;
  height: 400px;
  margin-bottom: 20px;

  .imagen {
  height:100px;
  line-height:100px;
  overflow:hidden;
  text-align:center;
  width:100%;

  img {
    margin:-100%;
  }
  }

  h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Gotham_bold', sans-serif !important;
  }
}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 36px;
    height: 36px;
    padding: 8px;
    
    background: $red;
    border: 2px solid transparent;
    color: white;
    text-align: center;
    font-size: 17px;
}


#derecho {
  li {
    background-color: $grey;
    border: solid 2px transparent;
    padding: 10px;
    margin-bottom: 10px;
    &:hover {
      border: solid 2px $red;
    }
    
    h4 {
      margin-top: -25px;
      padding-left: 45px;
      font-size: 14px;
    }

    h3 {
      font-size: 15px;
    }
    h5 {
      margin-top: 20px;
      font-weight: 900;
    }

  }
}

.active2 {
  border: solid 2px $red !important; 
}

#arrow {
  margin-top: 30px;
  text-align: center;
}

#forma {
  background-color: white;
  padding: 3rem;
  h3 {
    text-transform: uppercase;
    color: $red;
    font-size: 3em;
  }
  p {
    color: $dark_grey;
  }
  form {
    margin-top: 3rem;
  input[type="name"], input[type="email"], input[type="number"], input[type="date"], input[type="text"], textarea, select {
background-color: #f7f7f7;
width: 200px;
border: none;
padding-left: 1rem;
border-bottom: solid 2px $grey;
height: 50px;
margin: 2rem 1rem;
color: #929292 !important;
max-width: 100%;
}
textarea {
  width: 100% !important;
}
}

#con {
  background-color: white;
  padding: 3rem;
  border: solid 2px $blue; 
}
}

#formulario {
  input[type="text"] {
  display: block;
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  margin-top: 2rem;
  font-family: 'Gotham_thin', sans-serif !important;
  border:none;
  border-bottom:1.4px solid $red;
  background-color: white !important;
  -webkit-box-shadow: none;
  border-radius: 0;
  height: 50px;
  font-size: 22px;
  }
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: white;
    padding: 30px 30px;
    a{
      margin-right: 30px;
      span {
        margin-right: 5px;
      }     
    }
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    margin-right: 300px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
    color: $red;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#map {
  width: 100%;
  height: 400px;
}